<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>

<p style="color: #105cb6">

<div>

    <form name="searFormVal" class="form-inline">
        <h2>Search for flights: fromAirport/fromDate</h2>
        <hr/>
        <div class="form-group">
            <input class="form-control" ng-model="searchAirport" type="text" placeholder="Airport" required />
        </div>

        <div class="input-group">
            <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="opened"
                   max-date="'2100-06-22'" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
        <button ng-disabled="searFormVal.$invalid" class="btn btn-primary wow bounce" data-wow-delay="1s"  ng-click="searchDateAirport()"><span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>

    <table class="table table-striped" ng-show="searchTable1">

        <thead>
        <th>Airline</th>
        <th>Departure date</th>
        <th>Arrival date</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Available seats</th>
        <th>Price</th>
        <th>Reserve</th>
        </thead>

        <tbody>
        <tr ng-repeat="airline in airlines">
            <td>{{airline.airline}}</td>
            <td>{{airline.takeOffDate | date}}</td>
            <td>{{airline.landingDate | date}}</td>
            <td>{{airline.depature}}</td>
            <td>{{airline.destination}}</td>
            <td>{{airline.availableSeats}}</td>
            <td>{{airline.price}}</td>
            <td>
                <button ng-click="openRes(airline)" class="btn btn-info active center-block"><span
                        class="glyphicon glyphicon-plus"></span></button>
            </td>
        </tr>

        </tbody>


    </table>

    <img ng-show="loader" class="img-responsive center-block" src="http://sygnoos.com/wpbackup/images/preloader2.gif" alt=""/>

    <div class="alert alert-warning" ng-show="noFlightAlert" role="alert">No flights on that date</div>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Reserve your tickets!</h3>
        </div>
        <div class="modal-body">
            <h4 data-ng-model="items"> {{items.airline}} from {{items.depature}} to {{items.destination}}
            on {{items.takeOffDate | date}}
            </h4>
            <hr/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">



                    </div>
                    <table class="table table-striped">
                        <thead>
                        <td>First name</td>
                        <td>Last name</td>
                        <td>City</td>
                        <td>Country</td>
                        <td>Street</td>
                        </thead>
                        <tr ng-repeat="pas in passengers">
                            <td><input type="text" name="firstName" ng-model="pas.firstName"></td>
                            <td><input type="text" name="lastName" ng-model="pas.lastName"></td>
                            <td><input type="text" name="city" ng-model="pas.city"></td>
                            <td><input type="text" name="country" ng-model="pas.country"></td>
                            <td><input type="text" name="street" ng-model="pas.street"></td>
                            <td><button ng-click="removePassenger(pas)">Remove</button></td>
                        </tr>
                    </table>
                    <button ng-click="newPassenger()">Add passenger</button>
                </div>
                <h5>Available seats - {{items.availableSeats}}</h5>
            </div>


        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Book</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

        </div>

    </script>

</div>


</p>

</div>

</div>